.page-footer {
  padding: 44px 0;
  background-color: var(--second-bg-color);
}
.container--flexed {
  .page-footer & {
    flex-direction: column;
  }
}
.main-socials__list {
  .page-footer & {
    margin-bottom: 20px;
    align-self: flex-end;
  }
}
.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--forth-color);
}
