.page-header {
  position: absolute;
  margin-top: 40px;
  width: 100%;
  @media screen and (min-width: 768px) {
    margin-top: 32px;
  }
}
.container--flexed {
  .page-header & {
    align-items: center;
    justify-content: space-between;
    @media screen and (min-width: 768px) {
      align-items: flex-start;
      justify-content: flex-start;
    }
  }
}
.logo {
  fill: var(--white-color);
  @media screen and (min-width: 768px) {
    fill: var(--main-color);
    margin-left: 11px;
  }
}
.nav {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    margin-top: 20px;
    margin-left: 64px;
  }
}
.nav__list {
  display: flex;
}
.nav__item {
  &:not(:last-child) {
    margin-right: 24px;
  }
}
.nav__link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--white-color);
  transition: color 250ms linear;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.actions__list {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    margin-left: auto;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }
}
.main-btn--theme-dark {
  .page-header & {
    margin-top: 8px;
    margin-bottom: 20px;
  }
}
.menu-btn {
  fill: var(--white-color);
  transition: fill 250ms linear;
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
