.portfolio__subtitle {
  margin-bottom: 44px;
  @media screen and (max-width: 767px) {
    line-height: 1.91;
  }
}
.portfolio__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.portfolio__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    margin: 15px;
    flex-basis: calc((100% - 4 * 15px) / 2);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 8 * 15px) / 4);
  }
}
.portfolio__image {
  height: 100%;
  width: 100%;
  @media screen and (min-width: 768px) {
    height: 360px;
    object-fit: cover;
  }
  @media screen and (min-width: 1200px) {
    .portfolio__item:nth-child(odd) & {
      object-position: center;
    }
    .portfolio__item:nth-child(even) & {
      object-position: left;
    }
  }
}
