.section-contacts {
  background-color: var(--third-bg-color);
  padding: 0;
}
.container--flexed {
  .section-contacts & {
    flex-direction: column;
    padding: 0;
  }
}
.form-wraper {
  padding: 84px 0;
  @media screen and (min-width: 768px) {
    padding: 100px 39px;
  }
}
.section__title--theme-dark {
  .form-wraper & {
    margin-bottom: 44px;
    text-align: center;
    @media screen and (min-width: 768px) {
      text-align: left;
    }
  }
}
.form {
  padding: 0 31px;
  @media screen and (max-width: 479px) {
    padding: 0 15px;
  }
  @media screen and (min-width: 768px) {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.form__input {
  margin-bottom: 44px;
  height: 24px;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: var(--white-color);
  transition: border-color 250ms linear;
  &::placeholder {
    text-transform: uppercase;
    color: rgba(157, 164, 189, 0.4);
    transition: color 250ms linear;
  }
  &:hover,
  &:focus {
    border-bottom: 1px solid var(--white-color);
    &::placeholder {
      color: var(--white-color);
    }
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
  }
}
.form__comment {
  margin-bottom: 44px;
  height: 76px;
  @media screen and (min-width: 768px) {
    flex-grow: 1;
    flex-basis: 100%;
  }
}
.main-btn--theme-dark {
  .section-contacts & {
    margin: 0 auto;
    @media screen and (min-width: 768px) {
      margin: 0;
    }
  }
}
.contacts-wraper {
  background-image: url(../images/mobile/contacts-1x.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 84px 31px;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/mobile/contacts-2x.png);
  }
  @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    background-image: url(../images/mobile/contacts-3x.png);
  }
  @media screen and (max-width: 479px) {
    padding: 84px 15px;
  }
  @media screen and (min-width: 768px) {
    padding: 100px 39px;
  }
}
.section__title--theme-dark {
  .contacts-wraper & {
    margin-bottom: 40px;
    text-align: center;
    @media screen and (min-width: 768px) {
      text-align: left;
    }
  }
}
.contacts-box {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.address {
  margin-bottom: 44px;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--forth-color);
  @media screen and (min-width: 768px) {
    margin-right: 31px;
    margin-bottom: 0;
    flex-basis: 330px;
  }
}
.address__list {
}
.address__item {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
.address_wraper {
  display: flex;
  align-items: center;
  @media screen and (min-width: 768px) {
    align-items: flex-start;
  }
}
.adrress__icon {
  margin-right: 16px;
}
.address__text {
  @media screen and (min-width: 768px) {
    flex-basis: 220px;
  }
}
.address__link {
  display: flex;
  align-items: center;
  color: inherit;
}
.address__mail {
  text-decoration: underline;
}
.section__description--theme-dark {
  .contacts-wraper & {
    font-size: 18px;
    line-height: 1.67;
  }
}
