.about-us__label {
  @media screen and (min-width: 768px) {
    margin-left: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 64px;
  }
}

.about-us__title {
  margin-bottom: 20px;
  @media screen and (max-width: 1199px) {
    font-size: 28px;
    line-height: 1.18;
  }
}
.about-us__description {
  margin-bottom: 20px;
}
.section__text {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--second-color);
}
.section__thumb {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    order: -1;
  }
}
.thumb__list {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.thumb__item {
  &:not(:last-child) {
    margin-bottom: 30px;
    @media screen and (min-width: 1200px) {
      margin-right: 30px;
      margin-bottom: 0;
    }
  }
}
.thumb__image {
  object-fit: cover;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    height: 235px;
    width: 330px;
  }
}
