.section-contacts {
  background-color: var(--third-bg-color);
  padding: 0;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 768px;
  }
}
.contacts-container {
  flex-direction: column;
  padding: 0;
  width: 100%;
  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}
.form-wrapper {
  padding: 84px 15px;
  @media screen and (min-width: 480px) {
    margin: 0 auto;
    width: 480px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding: 100px 39px;
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    margin: 0 0 0 auto;
    padding: 130px 40px 130px 40px;
    width: 612px;
  }
}
.form-wrapper__title {
  margin-bottom: 44px;
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}
.form {
  @media screen and (min-width: 768px) {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.form__input {
  margin-bottom: 44px;
  height: 24px;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: var(--white-color);
  transition: border-color 250ms linear;
  &::placeholder {
    text-transform: uppercase;
    color: rgba(157, 164, 189, 0.4);
    transition: color 250ms linear;
  }
  &:hover,
  &:focus {
    border-bottom: 1px solid var(--white-color);
    &::placeholder {
      color: var(--white-color);
    }
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
  }
}
.form__comment {
  margin-bottom: 44px;
  height: 76px;
  @media screen and (min-width: 768px) {
    flex-grow: 1;
    flex-basis: 100%;
  }
}
.form-btn {
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    margin: 0;
  }
}
.contacts-bg {
  background-image: url(../images/mobile/contacts-1x.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 84px 0;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/mobile/contacts-2x.png);
  }
  @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    background-image: url(../images/mobile/contacts-3x.png);
  }
  @media screen and (min-width: 768px) {
    padding: 100px 0;
  }
  @media screen and (min-width: 1200px) {
    padding: 130px 0 130px 100px;
    width: 49%;
  }
}
.contacts-wrapper {
  margin: 0 auto;
  padding: 0 15px;
  @media screen and (min-width: 480px) and (max-width: 767px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding: 0 39px;
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    padding: 0;
  }
}
.contacts-wrapper__title {
  margin-bottom: 40px;
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}
.contacts-box {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
  }
}
.address {
  margin-bottom: 44px;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--forth-color);
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 31px;
    margin-bottom: 0;
    flex-basis: 330px;
  }
}

.address__item {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
.address_wrapper {
  display: flex;
  align-items: center;
  @media screen and (min-width: 768px) {
    align-items: flex-start;
  }
}
.adrress__icon {
  margin-right: 16px;
}
.address__text {
  @media screen and (min-width: 768px) {
    flex-basis: 220px;
  }
}
.address__link {
  display: flex;
  align-items: center;
  color: inherit;
}
.address__mail {
  text-decoration: underline;
}
.contacts-wrapper__description {
  font-size: 18px;
  line-height: 1.67;
}
