.container {
  margin: 0 auto;
  padding: 0 15px;
  @media screen and (min-width: 480px) {
    padding: 0 31px;
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    padding: 0 39px;
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    padding: 0 55px;
    width: 1200px;
  }
  &--flexed {
    display: flex;
  }
}
