.section__title {
  font-family: var(--second-font);
  font-weight: bold;
  font-weight: bold;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  &--theme-dark {
    color: var(--white-color);
  }
  &--theme-light {
    color: var(--main-color);
  }
}
