.about-us__thumb {
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.section__title {
  margin-bottom: 20px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  .section-about-us &--black {
    font-size: 28px;
    line-height: 1.18;
    letter-spacing: 0.05em;
  }
}
.section__label {
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  color: #555555;
}
.section__description {
  margin-bottom: 40px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
}
