.section-advantages {
  & .section__title--black {
    font-size: 42px;
    line-height: 1.17;
    letter-spacing: 0.05em;
  }
  & .section__description {
    margin-bottom: 44px;
    font-size: 18px;
    line-height: 1.67;
  }
}
.advantages__list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.advantages__item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 133px;
  width: calc(100% / 2 - 15px);
  background-color: #f7f7f7;
  &:not(:nth-child(even)) {
    margin-right: 30px;
  }
  &:nth-child(even) {
    margin-top: 30px;
  }
}
.advantages__label {
  padding: 0 36px;
  .advantages__item:last-child & {
    padding: 0 32px;
  }
}
.advantages__number {
  position: relative;
  font-weight: bold;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  &::after {
    content: '+';
    position: absolute;
    margin-left: 2px;
    top: 7px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.38;
    color: #ff6c00;
  }
}
.advantages__description {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
}
