.section-hero {
  padding: 208px 0 183px 0;
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../images/mobile/header1-1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
.hero__container {
  padding-right: 143px;
}
.hero--left {
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.section__subtitle {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  &::before {
    content: '';
    height: 1px;
    width: 60px;
    margin-right: 20px;
    background-color: #303030;
  }
  &--dark {
    color: rgba(157, 164, 189, 0.6);
    &::before {
      background-color: rgba(157, 164, 189, 0.6);
    }
  }
}
.title {
  margin-bottom: 20px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.section__description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.02em;
  &--dark {
    color: #9da4bd;
  }
}
