.section-portfolio {
  & .section__subtitle {
    margin-bottom: 44px;
  }
}
.portfolio__image {
  height: 100%;
  width: 100%;
}
.portfolio__item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}
